<p-toast></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card header="View Order" subheader="You can edit order status here">
    <p-fieldset legend="Order Details" styleClass="mb-4" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{ order._id }}</p>
        </div>
        <div class="col-4">
          <h5>Order Date</h5>
          <p>{{ order.dateOrdered | date: 'short' }}</p>
        </div>
        <div class="col-4">
          <h5>Order Status</h5>
          <p-dropdown [options]="orderStatus" (onChange)="changeOrderStatus($event?.value?.index)" [(ngModel)]="selectedIndex"></p-dropdown>
        </div>
        <div class="col-4">
          <h5>Order Total Price</h5>
          <p>{{ order.totalPrice | currency }}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Items" styleClass="mb-4" [toggleable]="true">
      <div class="grid">
        <div class="col-2"><h5>Name</h5></div>
        <div class="col-2"><h5>Brand</h5></div>
        <div class="col-2"><h5>Category</h5></div>
        <div class="col-2"><h5>Price</h5></div>
        <div class="col-2"><h5>Quantity</h5></div>
        <div class="col-2"><h5>Subtotal</h5></div>
      </div>
      <div class="grid" *ngFor="let orderItem of order.orderItems">
        <div class="col-2">{{ orderItem.product.name }}</div>
        <div class="col-2">{{ orderItem.product.brand }}</div>
        <div class="col-2">{{ orderItem.product.category.name }}</div>
        <div class="col-2">{{ orderItem.product.price | currency }}</div>
        <div class="col-2">{{ orderItem.quantity }}</div>
        <div class="col-2">
          {{ orderItem.product.price * orderItem.quantity | currency }}
        </div>
      </div>
      <hr />
      <div class="grid">
        <div class="col-2 col-offset-8" style="color: green">
          <h5>Total Price</h5>
        </div>
        <div class="col-2" style="color: green">
          <h5>{{ order.totalPrice | currency }}</h5>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Address" styleClass="mb-4" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Customer Info</h5>
          <p>{{ order.user?.name }}</p>
        </div>
        <div class="col-4">
          <h5>Phone number</h5>
          <p>{{ order.phone }}</p>
        </div>
        <div class="col-4">
          <h5>Address</h5>
          <p>
            {{ order.shippingAddress1 }}<br />
            {{ order.shippingAddress2 }}<br />
            {{ order.zip }} {{ order.city }}<br />
            {{ order.country }}
          </p>
        </div>
      </div>
    </p-fieldset>
  </p-card>
</div>
