.footer {
    background-color: var(--yellow-200);
    padding: 10px;
    height: 60px;
    margin-top: 25px;
    align-items: center;
    border-radius: 5px;
    &-title {
        margin-top: 10px;
        
    }
    &-icons {
        padding-right: 5px;
        margin-top: 10px;
    }
}