header {
    margin-bottom: 25px;
    .logo {
        img {
            width: 60px;
        }
    }
    .search {
        padding-top: 25px;
    }
    .tools {
        padding-top: 30px;
        .pi {
            margin-right: 10px
        }
    }
}

