.nav {
  li {
    list-style: none;
    display: inline-block;
    padding-top: 25px;
    margin-right: 25px;
    a {
      color: var(--surface-500);
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
